@import "tailwindcss";

/* @theme inline {
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
  --shadow-input: 0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
} */
.border-b{
  border-bottom: 1px solid #232424;
}
.border-t{
  border-top: 1px solid #232424;
}
.border{
  border: 1px solid #232424;
}

.cardbg{
  background-color: #1c1c1c;
}
/* Grid background utilities */
.bg-grid-small-white\/\[0\.1\] {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.bg-grid-white\/\[0\.1\] {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 31px 31px;
}

.bg-grid-small-black\/\[0\.1\] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

.bg-grid-black\/\[0\.1\] {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
}

:root {
  --radius: 10;
  --background: 255 255 255;
  --foreground: 36 35 41;
  --card: 255 255 255;
  --card-foreground: 36 35 41;
  --popover: 255 255 255;
  --popover-foreground: 36 35 41;
  --primary: 52 52 64;
  --primary-foreground: 251 251 251;
  --secondary: #3030BD;
  --secondary-foreground: 52 52 64;
  --muted: 247 247 249;
  --muted-foreground: 129 127 143;
  --accent: 247 247 249;
  --accent-foreground: 52 52 64;
  --destructive: 188 60 22;
  --border: 235 235 242;
  --input: 235 235 242;
  --ring: 170 170 192;
  --chart-1: 234 145 0;
  --chart-2: 92 170 222;
  --chart-3: 77 105 216;
  --chart-4: 249 187 57;
  --chart-5: 247 169 47;
  --sidebar: 251 251 251;
  --sidebar-foreground: 36 35 41;
  --sidebar-primary: 52 52 64;
  --sidebar-primary-foreground: 251 251 251;
  --sidebar-accent: 247 247 249;
  --sidebar-accent-foreground: 52 52 64;
  --sidebar-border: 235 235 242;
  --sidebar-ring: 170 170 192;
}

.dark {
  --background: 36 35 41;
  --foreground: 251 251 251;
  --card: 52 52 64;
  --card-foreground: 251 251 251;
  --popover: 52 52 64;
  --popover-foreground: 251 251 251;
  --primary: #009708;
  --primary-foreground: 52 52 64;
  --secondary: #d60101;
  --secondary-foreground: 251 251 251;
  --muted: 78 77 89;
  --muted-foreground: 170 170 192;
  --accent: 78 77 89;
  --accent-foreground: 251 251 251;
  --destructive: 200 81 24;
  --border: #232424; /* 10% alpha added by Tailwind */
  --input: 255 255 255; /* 15% alpha added by Tailwind */
  --ring: 129 127 143;
  --chart-1: 93 114 236;
  --chart-2: 134 204 151;
  --chart-3: 247 169 47;
  --chart-4: 114 94 229;
  --chart-5: 218 90 36;
  --sidebar: 52 52 64;
  --sidebar-foreground: 251 251 251;
  --sidebar-primary: 93 114 236;
  --sidebar-primary-foreground: 251 251 251;
  --sidebar-accent: 78 77 89;
  --sidebar-accent-foreground: 251 251 251;
  --sidebar-border: #232424;
  --sidebar-ring: 129 127 143;
}
